<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.GoumaijiluMapper">
  <resultMap id="BaseResultMap" type="com.entity.Goumaijilu">
    <id column="id" jdbcType="INTEGER" property="id" />
	<result column="caipinbianhao" jdbcType="VARCHAR" property="caipinbianhao" />
    <result column="caipinmingcheng" jdbcType="VARCHAR" property="caipinmingcheng" />
    <result column="caipinleibie" jdbcType="VARCHAR" property="caipinleibie" />
    <result column="xiaoliang" jdbcType="VARCHAR" property="xiaoliang" />
    <result column="kucun" jdbcType="VARCHAR" property="kucun" />
    <result column="jiage" jdbcType="VARCHAR" property="jiage" />
    <result column="goumaishuliang" jdbcType="VARCHAR" property="goumaishuliang" />
    <result column="goumaijine" jdbcType="VARCHAR" property="goumaijine" />
    <result column="goumairen" jdbcType="VARCHAR" property="goumairen" />
    <result column="beizhu" jdbcType="VARCHAR" property="beizhu" />
    
    <result column="addtime" jdbcType="VARCHAR" property="addtime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, caipinbianhao,caipinmingcheng,caipinleibie,xiaoliang,kucun,jiage,goumaishuliang,goumaijine,goumairen,beizhu,issh, addtime
  </sql>
  <select id="quchongGoumaijilu"  parameterType="java.util.Map" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from goumaijilu 
    where goumairen = #{goumairen,jdbcType=VARCHAR} limit 0,1
  </select>
 <select id="getCount"   resultType="int" parameterType="java.util.Map" >
    select  count(*) from goumaijilu  where 1=1
    <if test="caipinbianhao!=null">and caipinbianhao like  concat('%',#{caipinbianhao,jdbcType=VARCHAR},'%')</if>
     <if test="caipinmingcheng!=null">and caipinmingcheng like  concat('%',#{caipinmingcheng,jdbcType=VARCHAR},'%')</if>
     <if test="caipinleibie!=null">and caipinleibie like  concat('%',#{caipinleibie,jdbcType=VARCHAR},'%')</if>
     <if test="xiaoliang!=null">and xiaoliang like  concat('%',#{xiaoliang,jdbcType=VARCHAR},'%')</if>
     <if test="kucun!=null">and kucun like  concat('%',#{kucun,jdbcType=VARCHAR},'%')</if>
     <if test="jiage!=null">and jiage like  concat('%',#{jiage,jdbcType=VARCHAR},'%')</if>
     <if test="goumaishuliang1!=null">and goumaishuliang &gt;=  concat('',#{goumaishuliang1,jdbcType=VARCHAR},'')</if>
     <if test="goumaishuliang2!=null">and goumaishuliang &lt;=  concat('',#{goumaishuliang2,jdbcType=VARCHAR},'')</if>
     <if test="goumaijine!=null">and goumaijine like  concat('%',#{goumaijine,jdbcType=VARCHAR},'%')</if>
     <if test="goumairen!=null">and goumairen like  concat('%',#{goumairen,jdbcType=VARCHAR},'%')</if>
     <if test="beizhu!=null">and beizhu like  concat('%',#{beizhu,jdbcType=VARCHAR},'%')</if>
  </select> 
  <select id="getAll"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from goumaijilu  where 1=1
    <if test="goumairen!=null">
    and goumairen =#{goumairen}
    </if>
  </select>
  
  <select id="getsygoumaijilu1"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from goumaijilu  where 1=1
    limit 0,5
  </select>
  <select id="getsygoumaijilu2"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from goumaijilu  where 1=1
    limit 0,5
  </select>
  <select id="getsygoumaijilu3"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from goumaijilu  where 1=1
    limit 0,5
  </select>
  
   <select id="getByPage" parameterType="java.util.Map" resultMap="BaseResultMap">
     select  <include refid="Base_Column_List" /> 
     from goumaijilu where 1=1 
     <if test="caipinbianhao!=null">and caipinbianhao like  concat('%',#{caipinbianhao,jdbcType=VARCHAR},'%')</if>
     <if test="caipinmingcheng!=null">and caipinmingcheng like  concat('%',#{caipinmingcheng,jdbcType=VARCHAR},'%')</if>
     <if test="caipinleibie!=null">and caipinleibie like  concat('%',#{caipinleibie,jdbcType=VARCHAR},'%')</if>
     <if test="xiaoliang!=null">and xiaoliang like  concat('%',#{xiaoliang,jdbcType=VARCHAR},'%')</if>
     <if test="kucun!=null">and kucun like  concat('%',#{kucun,jdbcType=VARCHAR},'%')</if>
     <if test="jiage!=null">and jiage like  concat('%',#{jiage,jdbcType=VARCHAR},'%')</if>
     <if test="goumaishuliang1!=null">and goumaishuliang &gt;=  concat('',#{goumaishuliang1,jdbcType=VARCHAR},'')</if>
     <if test="goumaishuliang2!=null">and goumaishuliang &lt;=  concat('',#{goumaishuliang2,jdbcType=VARCHAR},'')</if>
     <if test="goumaijine!=null">and goumaijine like  concat('%',#{goumaijine,jdbcType=VARCHAR},'%')</if>
     <if test="goumairen!=null">and goumairen like  concat('%',#{goumairen,jdbcType=VARCHAR},'%')</if>
     <if test="beizhu!=null">and beizhu like  concat('%',#{beizhu,jdbcType=VARCHAR},'%')</if>
     <if test="issh!=null">and issh like  concat('%',#{issh,jdbcType=VARCHAR},'%')</if>
	 order by id desc
     <if test="pageno!=null and pageSize!=null">
     limit #{pageno},#{pageSize}
     </if>
     </select>
	 
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from goumaijilu
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from goumaijilu
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.entity.Goumaijilu">
    insert into goumaijilu (id, caipinbianhao,caipinmingcheng,caipinleibie,xiaoliang,kucun,jiage,goumaishuliang,goumaijine,goumairen,beizhu, addtime)
    values (#{id,jdbcType=INTEGER}, #{caipinbianhao,jdbcType=VARCHAR},#{caipinmingcheng,jdbcType=VARCHAR},#{caipinleibie,jdbcType=VARCHAR},#{xiaoliang,jdbcType=VARCHAR},#{kucun,jdbcType=VARCHAR},#{jiage,jdbcType=VARCHAR},#{goumaishuliang,jdbcType=VARCHAR},#{goumaijine,jdbcType=VARCHAR},#{goumairen,jdbcType=VARCHAR},#{beizhu,jdbcType=VARCHAR}, #{addtime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.entity.Goumaijilu">
    insert into goumaijilu
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="caipinbianhao != null"> caipinbianhao, </if>
      <if test="caipinmingcheng != null"> caipinmingcheng, </if>
      <if test="caipinleibie != null"> caipinleibie, </if>
      <if test="xiaoliang != null"> xiaoliang, </if>
      <if test="kucun != null"> kucun, </if>
      <if test="jiage != null"> jiage, </if>
      <if test="goumaishuliang != null"> goumaishuliang, </if>
      <if test="goumaijine != null"> goumaijine, </if>
      <if test="goumairen != null"> goumairen, </if>
      <if test="beizhu != null"> beizhu, </if>
      <if test="addtime != null">
        addtime,
      </if>
      
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="caipinbianhao != null"> #{caipinbianhao,jdbcType=VARCHAR},</if>
      <if test="caipinmingcheng != null"> #{caipinmingcheng,jdbcType=VARCHAR},</if>
      <if test="caipinleibie != null"> #{caipinleibie,jdbcType=VARCHAR},</if>
      <if test="xiaoliang != null"> #{xiaoliang,jdbcType=VARCHAR},</if>
      <if test="kucun != null"> #{kucun,jdbcType=VARCHAR},</if>
      <if test="jiage != null"> #{jiage,jdbcType=VARCHAR},</if>
      <if test="goumaishuliang != null"> #{goumaishuliang,jdbcType=VARCHAR},</if>
      <if test="goumaijine != null"> #{goumaijine,jdbcType=VARCHAR},</if>
      <if test="goumairen != null"> #{goumairen,jdbcType=VARCHAR},</if>
      <if test="beizhu != null"> #{beizhu,jdbcType=VARCHAR},</if>
      <if test="addtime != null">
        #{addtime,jdbcType=VARCHAR},
      </if>
      
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.entity.Goumaijilu">
    update goumaijilu
    <set>
	  <if test="caipinbianhao != null"> caipinbianhao = #{caipinbianhao,jdbcType=VARCHAR},</if>
      <if test="caipinmingcheng != null"> caipinmingcheng = #{caipinmingcheng,jdbcType=VARCHAR},</if>
      <if test="caipinleibie != null"> caipinleibie = #{caipinleibie,jdbcType=VARCHAR},</if>
      <if test="xiaoliang != null"> xiaoliang = #{xiaoliang,jdbcType=VARCHAR},</if>
      <if test="kucun != null"> kucun = #{kucun,jdbcType=VARCHAR},</if>
      <if test="jiage != null"> jiage = #{jiage,jdbcType=VARCHAR},</if>
      <if test="goumaishuliang != null"> goumaishuliang = #{goumaishuliang,jdbcType=VARCHAR},</if>
      <if test="goumaijine != null"> goumaijine = #{goumaijine,jdbcType=VARCHAR},</if>
      <if test="goumairen != null"> goumairen = #{goumairen,jdbcType=VARCHAR},</if>
      <if test="beizhu != null"> beizhu = #{beizhu,jdbcType=VARCHAR},</if>
      <if test="addtime != null">
        addtime = #{addtime,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  
  
  <update id="updateByPrimaryKey" parameterType="com.entity.Goumaijilu">
    update goumaijilu
    set caipinbianhao = #{caipinbianhao,jdbcType=VARCHAR},caipinmingcheng = #{caipinmingcheng,jdbcType=VARCHAR},caipinleibie = #{caipinleibie,jdbcType=VARCHAR},xiaoliang = #{xiaoliang,jdbcType=VARCHAR},kucun = #{kucun,jdbcType=VARCHAR},jiage = #{jiage,jdbcType=VARCHAR},goumaishuliang = #{goumaishuliang,jdbcType=VARCHAR},goumaijine = #{goumaijine,jdbcType=VARCHAR},goumairen = #{goumairen,jdbcType=VARCHAR},beizhu = #{beizhu,jdbcType=VARCHAR},  addtime = #{addtime,jdbcType=VARCHAR} where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>
